{% extends 'base.html'%}

{%block content%}
<div class="container">
    <form method="post" action="" style="margin-top: 30px;">
        {%csrf_token%}
        <div class="form-group mb-3">
            <!-- double curly braces is used to display data from the database -->
            <label>First Name</label>
            {{form.first_name}}
            {{form.first_name.errors}}
        </div>
        <div class="form-group mb-3">
            <label>Last Name</label>
            {{form.last_name}}
            {{form.last_name.errors}}
        </div>
        <div class="form-group mb-3">
            <label>Email </label>
            {{form.email}}
            {{form.email.errors}}
        </div>
        <!-- <input type="submit" class="btn btn-outline-success"> -->

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock %}